* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
  @apply bg-tuna;
}

.w-line::before {
  content: "";
  width: 2em;
  border-bottom: 2px solid #ffaf29;
  border-radius: 2em;
  margin-right: 1em;
}

.active-link {
  position: relative;
  color: #ffffff !important;
}

.circle-start {
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  left: -0.52rem;
  top: 0;
  border-radius: 1rem;
  background: #a0aec0;
}

@media only screen and (min-width: 991px) {
  .active-link::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #ffaf29;
    border-radius: 2em;
    width: 50%;
    height: 2px;
    bottom: -6px;
    left: calc(50%);
    transform: translateX(-50%);
  }
}

.animate-float-y {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: float-y;
}

.animate-float-y-reverse {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: float-y-reverse;
}

.animate-float-x {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: float-x;
}

.animate-float-x-reverse {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: float-x-reverse;
}

.animated-logo {
  transform-origin: top center;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: floating-logo;
}

@keyframes float-y {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float-y-reverse {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes float-x {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes float-x-reverse {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes floating-logo {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
